<html>
<head>
    <title><%=pageTitle%></title>
    <link href="<%=host+'/'+pageName%>.css" rel="stylesheet">
    <%- include('./partials/head') %>    
</head>
<body>
  <Navigation/>
  <%- include('./partials/navigation') %>
    <div id="app"><%-content-%></div>
    <script>
      window.__STATE__ = '<%-JSON.stringify(initialState)-%>';
    </script>
    <script type="text/javascript" src="<%=host+'/'+pageName%>.js"></script>
  
    <%- include('./partials/footer') %>
</body>
</html>
